@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

#buttons-div {
  height: 300px;
}

#buttons-div button {
  background-color: #3a3a3a;
  border: 1px solid transparent;
  border-radius: 10px;
  color: white;
  font-weight: 300;
  font-size: 1.5em;
  margin: 8px 0;
  transition: 0.25s;
  width: 60px;
}

#buttons-div button:hover,
#buttons-div #equals:hover {
  background-color: red;
}

#buttons-div #equals {
  background-color: orange;
}

#top-number {
  border: transparent;
  height: 3em;
  margin-bottom: 20px;
  width: 380px;
}

#input-number {
  font-size: 3em;
  font-weight: 100;
  text-align: right;
}

#error {
  text-align: center;
}
