@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@400;500;600;700;800;900&display=swap");

body {
  font-family: "Lexend Mega", sans-serif;
}

#selection-menu {
  border: 2px solid black;
  box-shadow: 10px 10px black;
  width: 350px;
  padding: 10px !important;
}

#theme-select {
  font-family: "Lexend Mega", sans-serif;
}

.calculator-wrapper {
  border: 2px solid black;
  box-shadow: 10px 10px black;
  padding: 50px;
}

#top-number {
  border: 2px solid black;
  box-shadow: 5px 5px black;
  font-size: 2.5em;
  margin: 0 auto 40px auto;
  text-align: center;
  width: 375px;
  height: 75px;
}

#input-number {
  margin: 0 !important;
  padding-top: 13px;
}

#buttons-div {
  width: 400px;
  margin: 0 auto;
}

#buttons-div button {
  font-family: "Lexend Mega", sans-serif;
  font-size: 1em;
  border: 2px solid black;
  box-shadow: 5px 5px black;
  margin: 10px;
  width: 60px;
  min-height: 60px;
}
